.profile-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-page-elements{
    width: 50%;
}
.user-profile-page{
    display: flex;
    justify-content: center;
}
.back-button-container{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.user-profile-center{
    width: 100%;
}
.user-info{
    display: flex;
    padding: 1rem;
}
.user-info>img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.user-details{
    margin-left: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    word-break: break-word;
}
.user-main{
    display: flex;
}
/* .user-update-options{
    color: #fff;
} */
/* .profile-pics-container{
    display: flex;
    justify-content: center;
} */
.image-update-form{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-800);
    border: 1px solid var(--color-primary-700);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.profile-pics-list{
    /* width: 40%; */
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fill,6rem);
}
.profile-pic-container{
    /* padding: 10px; */
    text-align: center;
    width: auto;
}
.profile-pic-image{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    cursor: pointer;
}
@media only screen and (min-width: 600px){
    .user-profile-center{
        width: 80%;
    }
}
@media only screen and (min-width: 800px){
    .user-profile-center{
        width: 60%;
    }
}
@media only screen and (min-width: 1000px){
    .user-profile-center{
        width: 40%;
    }
}